<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.audio.amazonmedia">
        <category id="general" label="30100">
            <group id="1">
                <setting id="userTLD" type="integer" label="30101" help="30120">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <options>
                            <option label="DE">0</option>
                            <option label="FR">1</option>
                            <option label="UK">2</option>
                            <option label="IT">3</option>
                            <option label="ES">4</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
            </group>
            <group id="2">
                <setting id="hideUnplayableSongs" type="boolean" label="30107" help="30121">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="showcolentr" type="boolean" label="30106" help="30122">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="3">
                <setting id="logging" type="boolean" label="30104" help="30123">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="4">
                <setting id="resetAddon" type="action" label="30103" help="30124">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.audio.amazonmedia/?mode=resetAddon)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="resetCredentials" type="action" label="30110" help="30125">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.audio.amazonmedia/?mode=resetCredentials)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
            </group>
            <group id="5">
                <setting id="search1PlayLists" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="search2PlayLists" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="search3PlayLists" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="search1Albums" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="search2Albums" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="search3Albums" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="search1Songs" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="search2Songs" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="search3Songs" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="search1Artists" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="search2Artists" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="search3Artists" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="proxy" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="userAgent" type="string">
                    <level>4</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
